---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {Hero} from '../components/home/hero.tsx';
import {PortfolioPreview} from '../components/home/portfolio-preview.tsx';
import {FeaturedPost} from '../components/posts/featured-post.tsx';
import {RecentPosts} from '../components/posts/recent-posts.tsx';
import {Categories} from '../components/home/categories.tsx';
import {Newsletter} from '../components/home/newsletter.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-stone-50 dark:bg-stone-900  text-stone-500 dark:text-stone-400">
		<Header />
		<main>
      <Hero />
      <div class="container mx-auto px-4 py-12">
        <PortfolioPreview />
        <FeaturedPost />
        <RecentPosts />
        <Categories />
        <Newsletter />
      </div>
    </main>
		<Footer />
	</body>
</html>
